body{
    background-image: url(https://media.graphassets.com/ndAekm8PT3WTmfaSddcR);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size:cover;
}
header{
    background-color: red;
    text-align: center;
}
h1{
    text-align: center;
    color: white;

}
div img{
    height: 150px;
}
.box{
    display: grid;
    padding-left: 300px;
    padding-right: 200px;
    grid-template-columns: auto auto auto auto auto;
}
.Character{
    display: grid;
    padding-left: 200px;
    padding-right: 200px;
    grid-template-columns: auto auto auto auto auto auto;
}
